doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='img/logo_70.png', type='image/x-icon')
    title Surrey Vein Clinic

    != getBlock('styles').add(['/css/animate.css','/css/bootstrap.min.css','/css/owl.carousel.css','/css/owl.theme.css','/css/owl.transitions.css','/css/font-awesome.min.css','/css/main.css']).toHTML()

    <!--[if lt IE 9]>
    <script type='text/javascript' src='/js/html5shiv.min.js'></script>
    <script type='text/javascript' src='/js/respond.min.js'></script>
    <![endif]-->

    link(href='http://fonts.googleapis.com/css?family=Abel', rel='stylesheet', type='text/css')
    //-
      <link href='http://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,500,700' rel='stylesheet' type='text/css'>
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300', rel='stylesheet', type='text/css')

  body
    section.navs
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          //- Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-nav-bar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.navbar-brand(href='/')
              span
                img(src="/img/logo_200.png" width='150' height='150')
            //- a.navbar-brand.logo(href='/')
            //-   | Surrey Vein Clinic
          //- Collect the nav links, forms, and other content for toggling
          #main-nav-bar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li(class=document.TopMenuCategory==="Home"?"active":"")
                a(href='/') Home

              li(class=document.TopMenuCategory==="Services"?"active":"")
                a(href='/treatments.html') Treatments

              li(class=document.TopMenuCategory==="Team"?"active":"")
                a(href='/team.html') Team

              //- li(class=document.TopMenuCategory==="Blog"?"active":"")
              //-   a(href='/blog.html') Blog

              li(class=document.TopMenuCategory==="FAQs"?"active":"")
                a(href='/faq.html') FAQs

              //- li(class=document.TopMenuCategory==="Gallery"?"active":"")
              //-   a(href='/gallery.html') Gallery

              li(class=document.TopMenuCategory==="Contact"?"active":"")
                a(href='/contact.html') Contact Us
          //- navbar-collapse
        //- container-fluid

    != content

    section#footer
      .container
        .row
          .col-md-6.col-md-offset-3
            ul.text-center.contact
              li.socials-icons
                a.facebook(href='https://www.facebook.com/pages/Surrey-Vein-Clinic/407360749282803', data-toggle='tooltip', title='Facebook')
                  i.fa.fa-facebook
              li.socials-icons
                a.twitter(href='https://twitter.com/SurreyVein', data-toggle='tooltip', title='Twitter')
                  i.fa.fa-twitter
              li.socials-icons
                a.google-plus(href='#', data-toggle='tooltip', title='Share in Google +')
                  i.fa.fa-google-plus
        .row
          .col-md-12
            .copy-right-text.text-center
              | Copyright 2015 &copy; Surrey Vein Clinic.

    != getBlock('scripts').add(['/js/jquery.min.js','/js/owl.carousel.min.js','/js/isotope.pkgd.min.js','/js/wow.min.js','/js/bootstrap.min.js'].concat(document.scripts||[])).toHTML()